* {
   margin: 0;
   padding: 0;
}

ul, li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

.board_wrap {
   width: 1000px;
   margin: 100px auto;
}

/* 버튼 */
.bt_wrap {
   margin-top: 30px;
   text-align: center;
   font-size: 0;
}

.bt_wrap a {
   display: inline-block;
   min-width: 10px;
   margin-left: 10px;
   padding: 10px;
   border: 1px solid #000;
   border-radius: 2px;
   font-size: 1.4rem;
}

.bt_wrap button {
   display: inline-block;
   min-width: 10px;
   margin-left: 10px;
   padding: 10px;
   border: 1px solid #000;
   border-radius: 2px;
   font-size: 1.4rem;
}

.bt_wrap a:first-child {
   margin-left: 0;
}

.bt_wrap a.list {
   background: #fff;
   color: #000;
}

.bt_wrap a.update {
   background: #fd8731;
   color: #fff;
}

.bt_wrap a {
   text-decoration: none;
   color: inherit;
}

/* 자유게시판 상세 */
.board_view {
   width: 100%;
   border-top: 2px solid #fd8731;
   font-size: 1.4rem;
}

.board_view .title {
   padding: 20px 15px;
   border-bottom: 1px dashed #ddd;
   font-size: 2rem;
}

/* 자유게시판 정보 */
.board_view .info {
   padding: 15px;
   border-bottom: 1px solid #fd8731;
   /*font-size: 0;*/
}

.board_view .info dl {
   display: inline-block;
   padding: 0 20px;
}

.board_view .info dl:first-child {
   padding-left: 0;
}

.board_view .info dl::before {
   content: "";
   position: absolute;
   top: 1px;
   left: 0;
   display: block;
   width: 1px;
   height: 13px;
   background: #ddd;
}

.board_view .info dl:first-child::before {
   display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
   display: inline-block;
   font-size: 1.4rem;
}

.board_view .info dl dt {
   
}

.board_view .info dl dd {
   margin-left: 10px;
   color: #777;
}

/* 자유게시판 내용 */
.board_view .cont {
   padding: 15px;
   border-bottom: 2px solid #fd8731;
   line-height: 160%;
   font-size: 1.4rem;
   white-space: pre-wrap;
}